<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>homepage</title>

</head>
<body>
    <div style="text-align: center;">
    <h1><marquee> Welcome to task Page</marquee></h1>
        <br><br>
            <h1>welcome to task page</h1><br>
            <h3>Task1:- Reverse String<br><br>
                Task2:- Reverse Number<br><br>             
                Task3:- Palindrome String</h3>
    </div>

</body>
</html>