<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <div>
    <h1><marquee> Welcome to task Page</marquee></h1>
        <ol>
            <h1>welcome to task page</h1>
            <h3><li> <a href='temp_app\\task1.html'> Task1:- Reverse String</li>
            <li ><a href="task2.html"> Task2:- Reverse Number</li>
            <li><a href="task3.html"> Task3:- Plindrome String</li></h3>

        </ol>
    </div>

</body>
</html>